@{

}

<div class="container">
    <img src="~/images/f-actas.jpg" width="1170" height="248" class="img-responsive mg30top">

    <section class="menu navbar-default menu05">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <a name="posicion"></a>
        <nav class="navbar-collapse bs-navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li class="bt-azul">
                    <a href=@Url.Action("Presidencial", "Onpe")>PRESIDENCIAL</a>
                </li>
                <li class="bt-amarillo act-amarillo">
                    <a href=@Url.Action("Actas_Ubigeo", "Onpe")>ACTAS</a>
                </li>
                <li class="bt-rojo">
                    <a href=@Url.Action("Participacion", "Onpe")>PARTICIPACIÓN CIUDADANA</a>
                </li>
            </ul>
        </nav>
    </section>
    <br /><br /><br /><br />

    <section class="contenedor">
        <div class="row">

            <div class="col-xs-12 col-md-3">
                <div class="menu-interna">
                    <ul>
                        <li><a href=@Url.Action("Actas_Ubigeo", "Onpe") class="act-izq">Actas por ubigeo</a></li>
                        <li><a href=@Url.Action("Actas_Numero", "Onpe")>Actas por número</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-md-9" id="impreso">
                <div class="contenido-interna">
                    <div class="titulos col-xs-12">
                        <div class="col-xs-11">
                            <h3> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="font-size:19px"></span> SEGUNDA ELECCIÓN PRESIDENCIAL 2016: ACTAS POR UBIGEO</h3>
                        </div>

                        <div class="col-xs-1 oculto-boton-print">
                            <button onclick="printContent('impreso');"><i class="fa fa-print ico-print"></i></button>
                        </div>
                    </div>

                    <div class="col-lg-7 centered">
                        <div class="col-xs-12 col-md-12 col-lg-12 cont-curv">
                            <div class="col-xs-3 col-md-1">
                                <span class="glyphicon glyphicon-ok-circle ico-info" aria-hidden="true"></span>
                            </div>

                            <div class="col-xs-9 col-md-11">
                                <ul>
                                    <li>ACTUALIZADO EL 20/06/2016 A LAS 19:16 h </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 td34up">

                            <div class="row">

                                <div class="col-md-3">
                                    <label>Ámbito:</label>
                                    <select id="cdgoAmbito" class="form-control">
                                        <option value="P">PERÚ</option>
                                        <option value="E">EXTRANJERO</option>
                                    </select>
                                </div>

                                <div id="dvNombreDepartamento" class="col-md-3" style="">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Departamento:</label>
                                            <select id="cdgoDep" class="form-control">
                                                <option value="">--SELECCIONE--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div id="dvNombreProvincia" class="col-md-3" style="">
                                    <div class="form-group">
                                        <label>Provincia:</label>
                                        <select id="cdgoProv" class="form-control">
                                            <option value="">--SELECCIONE--</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Distrito:</label>
                                        <select id="cdgoDist" class="form-control">
                                            <option value="">--SELECCIONE--</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Locales:</label>
                                        <div id="divLocal">
                                            <select name="actas_ubigeo" id="actas_ubigeo" class="form-control">
                                                <option value="-1?-1" selected="selected">--SELECCIONE--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div id="divDetalle" class="ptop20" style="display:none;">
                                    <div class="col-xs-12 pbot30">
                                        <p class="subtitle">LISTADO DE MESAS</p>
                                        <div id="page-wrap">
                                            <table id="tablaMesas" class="table17" cellspacing="0">
                                                <tbody id="cuerpoMesas"></tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 cont-recto oculto-leyenda-color-fondo-mesas">
                                        <div class="col-md-4"><img src="~/images/procesacon.jpg"> Procesada con imagen</div>
                                        <div class="col-md-4"><img src="~/images/procesasin.jpg"> Procesada sin imagen</div>
                                        <div class="col-md-4"><img src="~/images/sinprocesa.jpg"> Sin procesar</div>
                                    </div>

                                    <div class="row pbot30">
                                        <div class="col-lg-8 centered">
                                            <div class="col-xs-12 col-md-12 col-lg-12">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="10">
                                                                <div class="conte-paginador">
                                                                    <span id="totalMesasTxt" class="paginador-txt">Total de mesas: 0</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="10">
                                                                Página:
                                                                <ul class="pagination">
                                                                    <li class="active"><a class="paginador-n1">1</a></li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="resultadoDetalleMesa" style="display:none;"></div>

                            </div>

                    </div>

                </div>
            </div>

        </div>
<br />
<br />

@section Scripts {
    <script>
        $(document).ready(function () {
            const dptosPeru = @Html.Raw(Json.Serialize(ViewBag.DepartamentosPeru));
            const dptosExt = @Html.Raw(Json.Serialize(ViewBag.DepartamentosExtranjero));

            $('#cdgoAmbito').change(function () {
                const ambito = $(this).val();
                const $comboDep = $('#cdgoDep');

                $comboDep.empty().append('<option value="">--SELECCIONE--</option>');
                $('#cdgoProv, #cdgoDist').empty().append('<option value="">--SELECCIONE--</option>');
                $('#actas_ubigeo').empty().append('<option value="-1?-1">--SELECCIONE--</option>');

                let lista = (ambito === "P") ? dptosPeru : dptosExt;

                if (lista) {
                    lista.forEach(item => {
                        $comboDep.append(`<option value="${item.idDepartamento}">${item.detalle}</option>`);
                    });
                }
            });

            $('#cdgoDep').change(function () {
                $('#divDetalle').hide();
                const idDep = $(this).val();
                const $comboProv = $('#cdgoProv');

                $comboProv.empty().append('<option value="">--SELECCIONE--</option>');
                $('#cdgoDist').empty().append('<option value="">--SELECCIONE--</option>');
                $('#actas_ubigeo').empty().append('<option value="-1?-1">--SELECCIONE--</option>');

                if (idDep && idDep !== "") {
                    $.ajax({
                        url: '@Url.Action("GetProvincias", "Onpe")',
                        type: 'POST',
                        data: { idDepartamento: idDep },
                        success: function (data) {
                            data.forEach(item => {
                                $comboProv.append(`<option value="${item.idProvincia}">${item.detalle}</option>`);
                            });
                        }
                    });
                }
            });

            $('#cdgoProv').on('change', function () {
                $('#divDetalle').hide();
                const idProv = $(this).val();
                const $comboDist = $('#cdgoDist');
                const $comboLocal = $('#actas_ubigeo');

                $comboDist.empty().append('<option value="">--SELECCIONE--</option>');
                $comboLocal.empty().append('<option value="-1?-1">--SELECCIONE--</option>');

                if (idProv && idProv !== "") {
                    $.ajax({
                        url: '@Url.Action("GetDistritos", "Onpe")',
                        type: 'POST',
                        data: { idProvincia: idProv },
                        success: function (data) {
                            data.forEach(item => {
                                $comboDist.append(`<option value="${item.idDistrito}">${item.detalle}</option>`);
                            });
                        }
                    });
                }
            });

            $('#cdgoDist').on('change', function () {
                $('#divDetalle').hide();
                const dist = $(this).val();
                const $comboLocal = $('#actas_ubigeo');

                $comboLocal.empty().append('<option value="-1?-1">--SELECCIONE--</option>');

                if (dist && dist !== "") {
                    $.ajax({
                        url: '@Url.Action("GetLocalesVotacion", "Onpe")',
                        type: 'POST',
                        data: { idDistrito: dist },
                        success: function (data) {
                            if (data) {
                                const id = data.idLocalVotacion || data.IdLocalVotacion;
                                const nombre = data.razonSocial || data.RazonSocial;
                                if (id) {
                                    $comboLocal.append(`<option value="${id}">${nombre}</option>`);
                                }
                            }
                        }
                    });
                }
            });

            $('#actas_ubigeo').on('change', function () {
                const idLocal = $(this).val();
                if (idLocal === "-1?-1" || !idLocal) {
                    $('#cuerpoMesas').empty();
                    $('#totalMesasTxt').text("Total de mesas: 0");
                    return;
                }

                const $cuerpo = $('#cuerpoMesas');

                $.post('@Url.Action("GetMesa", "Onpe")', { idLocal: idLocal }, function (mesas) {
                    $cuerpo.empty();
                    const total = mesas ? mesas.length : 0;
                    $('#totalMesasTxt').text(`Total de mesas: ${total}`);

                    if (mesas && mesas.length > 0) {
                        let filaActual = $('<tr></tr>');
                        mesas.forEach((mesa, index) => {
                            if (index > 0 && index % 10 === 0) {
                                $cuerpo.append(filaActual);
                                filaActual = $('<tr></tr>');
                            }

                            let nroMesa = mesa.idGrupoVotacion.toString().padStart(6, '0');

                            const td = `
                                <td bgcolor="#C1C1C1" class="celda-mesa" data-mesa="${nroMesa}" style="cursor:pointer">
                                    <a href="javascript:void(0)">${nroMesa}</a>
                                </td>`;
                            filaActual.append(td);
                        });
                        $cuerpo.append(filaActual);
                        $('#divDetalle').show();
                    }
                });
            });


            $('#cuerpoMesas').on('click', '.celda-mesa', function () {
                const nroMesa = $(this).data('mesa');

                $('#resultadoDetalleMesa').html('<p class="text-center">Cargando detalle...</p>').show();

                $.ajax({
                    url: '@Url.Action("MesaDetalle", "Onpe")',
                    type: 'POST',
                    data: { nroMesa: nroMesa },
                    success: function (data) {
                        $('#resultadoDetalleMesa').html(data).fadeIn();
                    },
                    error: function(xhr, status, error) {
                        console.error("Estado:", status);
                        console.error("Error:", error);
                        console.log("Cuerpo de respuesta:", xhr.responseText);
                    }
                });
            });

            $('#cdgoAmbito').trigger('change');
        });
    </script>
}