@using webOnpeMVC.Models.Votacion
@model List<VotosDepartamentos>
@{
    string departamento = ViewBag.Departamento;
    string provincia = ViewBag.Provincia;

	int TVTotal = 0;
	int TATotal = 0;
	int EHTotal = 0;

    @foreach (var oVotos in Model)
    {
		TVTotal += oVotos.TV;
		TATotal += oVotos.TA;
		EHTotal += oVotos.EH;
    }

    double porcParticipacion = (EHTotal > 0) ? (TVTotal * 100.0) / EHTotal : 0;
    double porcAusentismo = (EHTotal > 0) ? (TATotal * 100.0) / EHTotal : 0;

    string pParticipacionStr = porcParticipacion.ToString("F3").Replace(",", ".");
    string pAusentismoStr = porcAusentismo.ToString("F3").Replace(",", ".");

}

<div id="imprimelo3">
    <div class="container">
        <img src="~/images/f-participacion.jpg" width="1170" height="248" class="img-responsive mg30top">

        <section class="menu navbar-default menu05">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a name="posicion"></a>
            <nav class="navbar-collapse bs-navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li class="bt-azul">
                        <a href=@Url.Action("Presidencial", "Onpe")>PRESIDENCIAL</a>
                    </li>
                    <li class="bt-amarillo">
                        <a href=@Url.Action("Actas_Ubigeo", "Onpe")>ACTAS</a>
                    </li>
                    <li class="bt-rojo act-rojo">
                        <a href=@Url.Action("Participacion", "Onpe")>PARTICIPACIÓN CIUDADANA</a>
                    </li>
                </ul>
            </nav>
        </section>
        <br /><br /><br /><br />

        <section class="contenedor">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="menu-interna">
                        <ul>
                            <li><a href="./participacion.html" class="act-izq">TOTAL</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9" id="impreso">
                    <div class="contenido-interna">
                        <div class="titulos col-xs-12">
                            <div class="col-xs-11">
                                <h3> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="font-size:19px"></span> SEGUNDA ELECCIÓN PRESIDENCIAL 2016: PARTICIPACIÓN CIUDADANA</h3>
                            </div>

                            <div class="col-xs-1 oculto-boton-print">
                                <button onclick="printContent('impreso');"><i class="fa fa-print ico-print"></i></button>
                            </div>
                        </div>

                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="history.go(-1);"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> REGRESAR</button>
                                    </td>
                                    <td width="60%">&nbsp;</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="location.href='./generar_datos_participacion_excel.php?tipoCobertura=Nacional&amp;ubigeo=Todos'">REPORTE DETALLADO EN EXCEL</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-xs-12">
                            <p class="subtitle">ACTAS CONTABILIZADAS</p>
                            <div class="col-lg-7 centered">
                                <div class="col-xs-12 col-md-12 col-lg-12 cont-curv">
                                    <div class="col-xs-3 col-md-1">
                                        <span class="glyphicon glyphicon-ok-circle ico-info" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-xs-9 col-md-11">
                                        <ul>
                                            <li>ACTUALIZADO EL 20/06/2016 A LAS 19:16 h </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>

                        <div class="col-xs-12 line pbot30">
                            <div class="col-xs-12 col-md-6">
                                <div id="ParticipacionDistritoDetalle"></div>
                            </div>

                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    crearGraficoParticipacion("ParticipacionDistritoDetalle", @pParticipacionStr, @pAusentismoStr);
                                });
                            </script>

                            <div class="col-xs-12 col-md-6">
                                <div class="cont-recto" style="margin-bottom:10px">
                                    Ámbito: Nacional
                                    <br>
                                    Departamento: @departamento
                                    <br>
                                    Provincia: @provincia
                                </div>
                                <p class="subtitle">ELECTORES HÁBILES @EHTotal.ToString("N0").Replace(".", ",")</p>
                                <div id="page-wrap">
                                    <table class="table09_2" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>PARTICIPACIÓN</th>
                                                <th>AUSENTISMO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>TOTAL: @TVTotal.ToString("N0").Replace(".", ",")</td>
                                                <td>TOTAL: @TATotal.ToString("N0").Replace(".", ",")</td>
                                            </tr>
                                            <tr>
                                                <td>% TOTAL: @pParticipacionStr%</td>
                                                <td>% TOTAL: @pAusentismoStr%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12">
                            <p class="subtitle">Consulta de participación DETALLADO </p>
                            <div id="page-wrap">
                                <table class="table21">
                                    <tbody id="resultados">
                                        <tr class="titulo_tabla">
                                            <td>DISTRITO</td>
                                            <td>TOTAL ASISTENTES</td>
                                            <td>% TOTAL ASISTENTES</td>
                                            <td>TOTAL AUSENTES</td>
                                            <td>% TOTAL AUSENTES</td>
                                            <td>ELECTORES HÁBILES</td>
                                        </tr>
                                        @foreach (var oVotos in Model)
                                        {
                                            <tr onclick="location.href='@Url.Action("ParticipacionDistritoDetalle", "Onpe", new { departamento=departamento,provincia=provincia,distrito=oVotos.DPD,TV=oVotos.TV,PTV=oVotos.PTV,TA=oVotos.TA,PTA=oVotos.PTA,EH=oVotos.EH })'" onmouseover="this.style.cursor = &quot;pointer&quot;; this.style.color = &quot;grey&quot;" onmouseout="this.style.color = &quot;black&quot;" style="cursor: pointer; color: black;">
                                                <td>@oVotos.DPD</td>
                                                <td>@oVotos.TV.ToString("N0").Replace(".", ",")</td>
                                                <td>@oVotos.PTV</td>
                                                <td>@oVotos.TA.ToString("N0").Replace(".", ",")</td>
                                                <td>@oVotos.PTA</td>
                                                <td>@oVotos.EH.ToString("N0").Replace(".", ",")</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td>TOTALES</td>
                                            <td>@TVTotal.ToString("N0").Replace(".", ",")</td>
                                            <td>@pParticipacionStr%</td>
                                            <td>@TATotal.ToString("N0").Replace(".", ",")</td>
                                            <td>@pAusentismoStr%</td>
                                            <td>@EHTotal.ToString("N0").Replace(".", ",")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>